
/* Start Alert */

.alert-primary{
    --bs-alert-color:#FFF;
    --bs-alert-bg:#93B3CE;
    border-radius: 0;
}

.header{
    height: 100vh;
}

.alert-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.alert-link{
    color: #FFF;
    text-decoration: none;
}

.alert-p{

    font-size: 1em;

    margin: 0;
    display:inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.special{
    position: relative;
    clear: right;
    float: right;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    padding-top: 0px;
}

/* End Allert */

/* Start Nav bar */

.navbar{
    background-color: #FFF;
}

.Logo{
    width: 300px;
    height: 50px;
}

.navbar-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navvar-ulcontainer{
    width: 50%;
    clear: right;
    float: right;
    margin-top: 9px;
    height: 100%;
}

.navbar .navbar-nav .nav-link{
    color: #666;
    font-size: 13px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", Arial, sans-serif;
}

.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color:  #93B3CE;
}

.Logo{
    height: 40px;
    margin-top: 5px;
}


/* End Nav bar */


/* Start slide */


.slide{
    height: 70%;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}



/* End Slide */



/* Start header band */

.header-bottom-band{
    background-color: #171717;
    margin-top: 0;
    height: 13%;
}

.header-band-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.text-container{
    padding-top: 1%;
    width: 60%;
    height: 100%;
    display: inline-block;
}

.header-band-text{
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
}

.header-band-em-text{
    color: #A1B3BE;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.2em;
    font-style: italic;
    line-height: 24px;
}

.inscrivez-vous-butt-container{
    padding-top: 2%;
    width: 30%;
    position: relative;
    float: right;

}

.inscrivez-vous-inside-container{
    position: relative;
    float: right;
    padding-right: 20px;
}

.inscrivez-vous-a{
    color: #FFF;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: #93B3CE;
    font-family: "Open Sans", Arial, sans-serif;
}

.inscrivez-vous-a:hover{
    background-color: #275bc3;

}

/* End header band */






/* Start footer*/


.footer{
    border-top: solid 1px black;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
}

.footer-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.show-footer-infos{
    box-sizing: border-box;
    display: block;
    text-align: center;
    color: #7e8890;
    font-size: 13px;
}

.footer-link{
    color: #7e8890;
    text-decoration: none;
}

.footer-social-media-icons{
    align-items: center;
    text-align: center;
    color: #7e8890;
    margin-top: 20px;
}

.footer-social-media-icons a{
    color: #bebdbd;
    margin-left: 10px;
    margin-right: 10px;
}


/* End footer*/


/* Start Contact page*/

.contact-page{
    height: 120vh;
    margin-top: 10px;
}

.contact-page-header-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.contact-page-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header h1{
    font-style: italic;
    font-size: 33;
    line-height: 1.15;
    text-align: center;
    font-style: PTSansRegular,Arial,Helvetica,sans-serif;
    font-weight: 700;
}

.contact-header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #747474;
    line-height: 32px;
    font-style: PTSansRegular,Arial,Helvetica,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.cotact-body-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.left-part{
    width: 50%;
    display: inline-block;
}

.left-part-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact-element-line-one{
    display: inline-block;
    width: 48%;
    margin: 15px 0;
}

.contact-element-line-two{
    display: inline-block;
    width: 48%;
    margin: 15px 0;
}

.contact-element-line-three{
    display: inline-block;
    width: 100%;
    margin: 15px 0;
}

.contact-elem-num2{
    position: relative;
    clear: right;
    float: right;
}

.contact-element-line-one label{
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.1;
    cursor: default;
    color: #747474;
    font-family:"Open Sans", Arial, sans-serif;
    margin-bottom: 4px;
}

.contact-element-line-three label{
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.1;
    cursor: default;
    color: #747474;
    font-family:"Open Sans", Arial, sans-serif;
    margin-bottom: 4px;
}

.contact-element-line-three input{
    width: 100%;
}

.contact-element-line-one input{
    width: 100%;
}

.contact-element-line-two label{
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.1;
    cursor: default;
    color: #747474;
    font-family:"Open Sans", Arial, sans-serif;
    margin-bottom: 4px;
}

.contact-element-line-two input{
    width: 100%;
}

.etoile{
    color: red;
}

input{
    color: #333;
    border: solid 1px #ccc;
    height: 38px;
    line-height: 1.3;
    padding: 6px 10px;
}
input:focus {
    outline-style: none;
    box-shadow: none;
    border: solid 1.5px #747474;
}

textarea{
    width: 100%;
    color: #333;
    border: solid 1px #ccc;
    line-height: 1.3;
    padding: 6px 10px;
}

textarea:focus {
    outline-style: none;
    box-shadow: none;
    border: solid 1.5px #747474;
}

.contact-submit-butt{
    width: 100%;
    align-items: center;
    text-align: center;
}

.contact-submit{
    background-color: #eeeded;
    width: 20%;
    height: 40px;
    border: solid 1px #ccc;

}

.contact-submit:hover{
    background-color: #e4e4e4;
}

.right-part{
    width: 50%;
    display: inline-block;
    float: right;
    clear: right;
}

/* End Contact page*/



/* Start Program */

.content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.program-container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.program-content{
    width: 100%;
    clear: both;
}

.Program-header-word{
    font-family:Arial, Helvetica, sans-serif;
}

.program-info{
    display: block;
}

.program-box-icon{
    float: left;
    position: relative;
}

.program-box-info{
    display: inline-block;
}

.program-box-info h4{
    color: #93B3CE;
    font-weight: 300;
    line-height: 27px;
    font-size: 1.3em;
    font-family: "Open Sans", Arial, sans-serif;
}

.program-box-info p{
    display: block;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    color: #777;
}

.feature-box-icon{
    display: inline-block;
    float: left;
}


.fa-circle-check{
    color: #93B3CE;
    margin-top: 3px;
}

.program-box-info{
    margin-left: 10px;
}

.program-container h2{

    font-size: 2.3em;
    font-weight: 250;
    line-height: 42px;
    margin: 0 0 0px 0;
    letter-spacing: -1px;

}

strong{
    font-weight: bold;
}

.program-box-info h4{
    font-family:  'Open Sans', Arial, sans-serif;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    color: #93B3CE;
}

.program-box-info p{
    font-family:  'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 24px
}

/* End Program*/


/* Start frais de scolarité*/


.panel-heading {
    background-color: #f5f5f5;
    border: solid 1px #ddd;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 10px 14px;
}

.panel-heading h4{
    color: #93B3CE;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 27px;
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 0;
}

.accordion-header{
    margin-bottom: 0 !important;
    background-color: #F0F0ED;
    border-radius: 0.5rem;
    color: #93B3CE;
}

.accordion-button{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #F0F0ED;
    border-radius: 0.5rem;
    border-left: solid 0.19rem #93B3CE;
    color: #93B3CE;
    padding-left: 10px;
}

.fa-plus{
    margin-right: 8px;
    font-size: 0.9em;
}



.accordion-item{
    margin-top: 10px;
    border-radius: 0.5rem;
    clear: both;
}



.accordion-button.collapsed::after {
    color: #93B3CE;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3e%3c/svg%3e");
}


.clases-id-left{
    aspect-ratio : 1 / 1;
    padding: 5px;
    background-image: url('../countour-frais.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 140px;
    box-sizing: border-box;
    overflow: hidden;
}

.clases-id-left::after{

    content: "";
    display: block;

}

.class-id-img{
    border-radius: 50%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.primaire-frais{
    list-style-type: none;
    padding-inline-start: 0;
    height: 90%;
}

.primaire-frais li{
    border: solid 0px black;
    height: 15%;
}

.frais-container{
    height: 160vh;
    border: none;
    border-left: 1px solid rgb(209, 208, 208);
}

.righthellotwo{
    border-right: 1px solid rgb(209, 208, 208);
}

.frais-row{
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.left-frais-cont{
    height: 100%;
    align-items: center;
}

.clases-id-right{
    background-image: url('../final-countour-frais-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: -4px !important;
}


/* End frais de scolarité*/


/* Start Pré inscri form*/

.pre-inscri{
    width: 100%;
}

.pre-inscri-container{
    width: 35%;
    margin-right: auto;
    margin-left: auto;
}

.pre-inscri-upperpart{
    width: 100%;
}



.pre-inscri-formpart{
    width: 100%;
}

.input-group{
    width: 100%;
    margin-bottom: 8px;
}

.input-group label{
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    word-break: break-all;
    color: #747474;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-group input{
    display: block;
    width: 100%;
}

.a-label-and-input{
    padding-top: 10px;
    padding-bottom: 10px;
}


.input-group select{
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    visibility: visible;
    box-shadow: none;
    margin: 0;
    vertical-align: middle;
    background: none;
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    line-height: 1.3;
    max-width: 100%;
    text-transform: none;
    white-space: nowrap;
    display: inline-block;
    width: auto;
}

.slash{
    background: none;
    border: 0 none;
    float: none;
    font-size: 100%;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    margin: 0;
    box-shadow: none;
    display: inline-block;
    padding: 5px 8px;
    margin: 0 !important;

}

.pre-inscri-next-butt{
    float: none;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    background: none;
    height: auto;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 15px;
    font-size: 0.9em;
    font-weight: 400;
    min-width: 90px;
    text-align: center;
    margin: 0 10px 0 0;
}

.pre-inscri-prev-butt{
    float: none;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    background: none;
    height: auto;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 15px;
    font-size: 0.9em;
    font-weight: 400;
    min-width: 90px;
    text-align: center;
    margin: 0 10px 0 0;
}

.pre-checkbox{
    display: inline !important;
    width: auto !important;
    color: #000;
    float: none;
    font-size: 100%;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    overflow: visible;
    box-shadow: none;
    padding: 0;
    background: none;
    box-sizing: border-box;
    background-color: #fff;
    width: 14px;
    height: 14px;
    margin: 0 0 0 3px;
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #cc0000;
}

.a-label-and-input li{
    float: none;
    font-size: 100%;
    height: auto;
    letter-spacing: normal;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    box-shadow: none;
    background: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    margin-bottom: 5px !important;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px !important;
}

.pre-li label{
    float: none;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    box-shadow: none;
    margin: 0;
    border: 0;
    padding: 0;
    background: none;
    height: auto;
    box-sizing: border-box;
    display: inline;
    vertical-align: baseline;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.a-label-and-input ul{
    float: none;
    font-size: 100%;
    height: auto;
    letter-spacing: normal;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    overflow: visible;
    box-shadow: none;
    background: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.submit-pre{
    text-align: center;
    background: none;
    border: 0 none;
    float: none;
    font-size: 100%;
    height: auto;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    margin: 0;
    box-shadow: none;
    padding: 10px 0 0 0;
    clear: both;
    position: relative;
}

.submit-pre-butt{
    float: none;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    box-shadow: none;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    background: none;
    height: auto;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}

.form-step{
    display: none;
    transform-origin: top;
    animation: animate 0.5s;

}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.form-step-active{
    display: block;
}

/* progress bar */

.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 2rem;
}

.progressbar::before, .progress{
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress{
    width: 0%;
    background-color: #78a8cf;
    transition: 0.5s;
}


.progress-step{
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    width: 50%;
    text-align: center;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active{
    background-color: #78a8cf;
    color: #f3f3f3;
}


.progress-step::before{
    counter-increment: step;
    content: counter(step);

}
/* end progress bar */
/* End Pré inscri form*/
